 @font-face { font-family: NightStillComes; src: url('NightStillComes_mine_final_sample.otf');}

body {
	background-image: url("/stylesheets/images/yellow_bg.png");
	background-repeat: repeat;
}
	
.cookies {
	background-image: url("/stylesheets/images/cookie.png");
	background-repeat: repeat-y;
	width: 340px;
	height: 100%;
	position: absolute;
}
	
.orange {
	background-color: rgba(240, 85, 0, 0.49);
	position: absolute;
	top: 0px;
	right: 0px;
	width: 75%;
	height: 350px;
	border-bottom-left-radius: 0.5em;
}
	
.brown {
	background-color: rgba(59, 25, 10, 0.53);
	float: right;
	width: 95%;
	height: 30%;
	border-bottom-left-radius: 0.5em;
}

p {
	font-family: NightStillComes, serif;
}

.header {
	color: #FFF;
	position: relative;
	font-size: 10em;
	line-height: 80%;
	text-align: center;
}

.links {
	position: absolute;	
	left: 40%;
	top: 500px;
	color: rgba(209, 0, 0, 1);
	font-size: 2em;
}
