<!DOCTYPE html>

<html>
<head>
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/script.js"></script>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>brydzenie</title>
</head>
<body>
	<div class="brown"></div>
	<div id="navbar" class="orange">
        <div style="display: inline-block;">
            <a href="/"><p class="header">brydzenie</p></a>
        </div>
    </div>
    <div class="container">
        <div class="bar">
           <p class="text"><strong>pół żartem...</strong></p>
		   <a href="/rufa-hornety"><div class="titles"><p>Rufa hornety</p></div></a>
		   <a href="/wystep-zycia"><div class="titles"><p>Występ życia</p></div></a>
		   <a href="/kot"><div class="titles"><p>Kot</p></div></a>
           <a href="/jeden-dzien-z-zycia-polskiej-firmy"><div class="titles"><p>Jeden dzień z życia polskiej firmy</p></div></a>
           <a href="/kochajmy-sie"><div class="titles"><p>Kochajmy się!</p></div></a>
           <a href="/jak-byc-patriota"><div class="titles"><p>Jak być patriotą</p></div></a>
           <a href="/pogon-za-pieknem"><div class="titles"><p>Pogoń za pięknem</p></div></a>
           <!--<a href="/error404"><div class="titles"><p>Boski Katana zdobywa świat</p></div></a>-->
           <p class="/text"><strong>...pół serio</strong></p>
		   <a href="/sami-w-kosmosie"><div class="titles"><p>Sami w kosmosie</p></div></a>
		   <a href="/panstwo-niebieskie"><div class="titles"><p>Państwo Niebieskie</p></div></a>
		   <a href="/co-robic-po-studiach"><div class="titles"><p>Co robić po studiach?</p></div></a>
           <!--<a href="/error404"><div class="titles"><p>Lustro</p></div></a>-->
           <a href="/biochemia"><div class="titles"><p>Biochemia</p></div></a>
           <br>
		   <a href="/okruchy"><div class="titles"><p><i>Okruchy</i></p></div></a>
		   <br>
           <a href="/newsletter"><p class="text" style="font-size: 1.2em; text-decoration: underline"><strong>Newsletter</strong></p>
           <p class="text">Otrzymaj powiadomienie o nowym wpisie</p></a>
        </div>   
     
    
        <div id="opo" class="content text">
           {% block content %}
           <div class="index">
               <p>Nierozważny włóczynecie! <br>Witaj w świecie ciastek i słów! <br>Oby nie zwiodła cię cukierkowa szata graficzna tej strony. <br>Raczej pomnij na jej motto:</p><br>
               <p class="quote">Księgi nie po to są, by w nie wierzyć, lecz by poddawać je badaniu. [...] Trzeba sprawdzić, z jakiej danej oryginalnego doświadczenia zrodziła się litera. Nad literą należy dyskutować, nawet jeśli utajony sens pozostaje słuszny.</p>
               <br><p style="text-align: right;">Umberto Eco</p>
           </div>
           {% endblock %}
        </div>

    
        <div class="cookies"></div>
    </div>
    <!--
    <div class="links">
        <p><a href="jak-byc-patriota" class="zostaw-slad">Zostaw po sobie ślad!</a></p>
    </div>
    -->


</body>
</html>