<!DOCTYPE html>

<html>
<head>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KGGSQSP');</script>
      <!-- End Google Tag Manager -->

      <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript" src="/scripts/script.js"></script>

      <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
      <title>brydzenie</title>
</head>
<body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGGSQSP"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

	<div class="brown"></div>
	<div id="navbar" class="orange">
        <div style="display: inline-block;">
            <a href="/"><p class="header">brydzenie</p></a>
        </div>
  </div>
    <div id="container" class="container">
        <div class="bar">
          <div id="opo1">
              <div class="titles"><p id="swieze" class="harmonijka">Świeże bułeczki</p></div>
              <p class="subtitles">Czyli co upiekło się ostatnio</p>
                <div class="opo-content">
                  <span title="Zakalec twórczy"><a href="/zakalec/recenzja-dyplomacji-kissingera"><div class="titles"><p>Recenzja "Dyplomacji" H. Kissingera</p></div></a></span>
                  <span title="Pół żartem"><a href="/zartem/statystyka-bogini-racjonalistow"><div class="titles"><p>Statystyka - bogini racjonalistów</p></div></a></span>
                  <span title="Pół żartem"><a href="/zartem/medrzec-plemienia-chiquxiawan"><div class="titles"><p>Mędrzec plemienia Chiquxiawan</p></div></a></span>
                  <span title="Zakalec twórczy"><a href="/zakalec/na-czym-polega-filozofia-buddyzmu"><div class="titles"><p>Na czym polega filozofia buddyzmu</p></div></a></span>
                  <span title="Pół żartem"><a href="/zartem/moje-male-gospodarstwo"><div class="titles"><p>Moje małe gospodarstwo</p></div></a></span>
                </div>
          </div>
          <br>
          <div id="opo2">
              <div class="titles"><p id="zartem" class="harmonijka">Pół żartem</p></div>
              <p class="subtitles">Czyli na słodko</p>
                <div class="opo-content">
                  <a href="/zartem/medrzec-plemienia-chiquxiawan"><div class="titles"><p>Mędrzec plemienia Chiquxiawan</p></div></a>
                  <a href="/zartem/statystyka-bogini-racjonalistow"><div class="titles"><p>Statystyka - bogini racjonalistów</p></div></a>
                  <a href="/zartem/moje-male-gospodarstwo"><div class="titles"><p>Moje małe gospodarstwo</p></div></a>
                  <a href="/zartem/o-zbyt-dlugim-imieniu"><div class="titles"><p>O zbyt długim imieniu</p></div></a>
                  <a href="/zartem/samotny-ignacy"><div class="titles"><p>Samotny Ignacy</p></div></a>
                  <a href="/zartem/prawda-o-zabkach"><div class="titles"><p>Prawda o Ząbkach</p></div></a>
                  <a href="/zartem/rufa-hornety"><div class="titles"><p>Rufa hornety</p></div></a>
                  <a href="/zartem/wystep-zycia"><div class="titles"><p>Występ życia</p></div></a>
                  <a href="/zartem/kot"><div class="titles"><p>Kot</p></div></a>
                  <a href="/zartem/jeden-dzien-z-zycia-polskiej-firmy"><div class="titles"><p>Jeden dzień z życia polskiej firmy</p></div></a>
                  <a href="/zartem/kochajmy-sie"><div class="titles"><p>Kochajmy się!</p></div></a>
                  <a href="/zartem/jak-byc-patriota"><div class="titles"><p>Jak być patriotą</p></div></a>
                  <a href="/zartem/pogon-za-pieknem"><div class="titles"><p>Pogoń za pięknem</p></div></a>
                  <!--<a href="/error404"><div class="titles"><p>Boski Katana zdobywa świat</p></div></a>-->
                </div>
          </div>
          <br>
          <div id="opo3">
              <div class="titles"><p id="serio" class="harmonijka">Pół serio</p></div>
              <p class="subtitles">Czyli keks z kamieniami</p>
                <div class="opo-content">
                  <a href="/serio/sos"><div class="titles"><p>SOS</p></div></a>
                  <a href="/serio/fantom"><div class="titles"><p>Fantom</p></div></a>
                  <a href="/serio/sami-w-kosmosie"><div class="titles"><p>Sami w kosmosie</p></div></a>
                  <a href="/serio/panstwo-niebieskie"><div class="titles"><p>Państwo Niebieskie</p></div></a>
                  <a href="/serio/co-robic-po-studiach"><div class="titles"><p>Co robić po studiach?</p></div></a>
                  <!--<a href="/error404"><div class="titles"><p>Lustro</p></div></a>-->
                  <a href="/serio/biochemia"><div class="titles"><p>Biochemia</p></div></a>
                </div>
          </div>
          <br>
          <div id="opo4">
              <div class="titles"><p id="zakalec" class="harmonijka">Zakalec twórczy</p></div>
              <p class="subtitles">Czyli recenzje i opinie</p>
                <div class="opo-content">
                  <a href="/zakalec/recenzja-dyplomacji-kissingera"><div class="titles"><p>Recenzja "Dyplomacji" H. Kissingera</p></div></a>
                  <a href="/zakalec/na-czym-polega-filozofia-buddyzmu"><div class="titles"><p>Na czym polega filozofia buddyzmu</p></div></a>
                  <a href="/zakalec/o-etruskach"><div class="titles"><p>O Etruskach faktów kilka</p></div></a>
                  <a href="/zakalec/obraz-swiata-wedlug-starozytnych"><div class="titles"><p>Obraz świata według starożytnych</p></div></a>
                  <a href="/zakalec/o-japonii"><div class="titles"><p>O szalonej i niepowtarzalnej Japonii</p></div></a>
                  <a href="/zakalec/na-temat-terraformacji-marsa"><div class="titles"><p>Na temat terraformacji Marsa</p></div></a>
                  <a href="/zakalec/wnioski-dotyczace-filozofii"><div class="titles"><p>Wnioski dotyczące filozofii...</p></div></a>
                  <a href="/zakalec/recenzja-sztuki-jakobi-i-leidental"><div class="titles"><p>Recenzja sztuki "Jakobi i Leidental"...</p></div></a>
                </div>
          </div>
          <br>
          <div id="opo5">
              <div class="titles"><p id="okruchy" class="harmonijka">Okruchy</p></div>
              <p class="subtitles">Czyli krótko i lirycznie</p>
                <div class="opo-content">
                  <a href="/okruchy/2016-2018"><div class="titles"><p>2016-2018 okres dojrzały</p></div></a>
                  <a href="/okruchy/2014-2015"><div class="titles"><p>2014-2015 okres nierozwagi</p></div></a>
                  <a href="/okruchy/1994-2013"><div class="titles"><p>1994-2013 okres dziecinny</p></div></a>
                </div>
          </div>
          <br>
          <a href="/newsletter/zapisz"><p class="bar_newsletter"><strong>Newsletter</strong></p>
          <p class="subtitles">Otrzymaj powiadomienie o nowym wpisie</p></a>
        </div>


        <div id="opo" class="content text">
           {% block content %}
           <div class="index">
               <p>Nierozważny włóczynecie! <br>Witaj w świecie ciastek i słów! <br>Oby nie zwiodła cię cukierkowa szata graficzna tej strony. <br>Raczej pomnij na jej motto:</p><br>
               <p class="quote">Księgi nie po to są, by w nie wierzyć, lecz by poddawać je badaniu. [...] Trzeba sprawdzić, z jakiej danej oryginalnego doświadczenia zrodziła się litera. Nad literą należy dyskutować, nawet jeśli utajony sens pozostaje słuszny.</p>
               <br><p style="text-align: right;">Umberto Eco</p>
           </div>
           {% endblock %}
        </div>


        <div class="cookies"></div>

        <button id="topButton">^ Wróć</button>
    </div>
    <!--
    <div class="links">
        <p><a href="jak-byc-patriota" class="zostaw-slad">Zostaw po sobie ślad!</a></p>
    </div>
    -->

</body>
</html>
