{% extends "index.html" %}
{% block title %}O autorze{% endblock %}
{% block content %}

    <div class="newsletter">
	    <p class="text_title">O autorze</p>
	    <p>&nbsp; </p>
      <img src="/stylesheets/images/bry_Zabki.jpg" alt="Brydzia w Ząbkach"/>
	  	<p style="text-align: right;">Brydzia w Ząbkach, 12.2019</p>
        <br>
        <p>Strona powstała, kiedy autor uczył się programowania stron internetowych i potrzebował na nią jakiejś treści. I ciastek - są najwspanialszą, najprzepyszniejszą i najdoskonalszą rzeczą, jaką uformowały atomy we wszechświecie. Obecnie autor bytuje w miasteczku Ząbki i konsekwentnie rozdyma stronę nowymi wpisami. <a href="/zartem/prawda-o-zabkach">O Ząbkach</a> również można przeczytać. Jeśli szukasz kontaktu, napisz do Anny Klopsik na Facebooku (to pseudonim artystyczny :D). Howk!</p>
    </div>

{% endblock %}
