{% extends "index.html" %}
{% block title %}>Okruchy{% endblock %}
{% block content %}
    <div style="text-indent: 0px;">
	    <p align="CENTER" class="text_title">Ciało</p>
	    <p>&nbsp; </p>
		<p align="CENTER">Pulsujące organy ściśnięte w worku sk&oacute;rzanym.</p>
        <p align="CENTER">Wstrząsane ciągłą erupcją oksytocyn i adrenalin.</p>
        <p align="CENTER">Chyba pęknąć powinno, takie miękkie i poobijane.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Co raz nowy estrogen rozsadza trzewia w euforii.</p>
        <p align="CENTER">Rwie bezsilne wiązania pod nawałą endorfin.</p>
        <p align="CENTER">A ono rzęzi i dyszy, i dalej chodzi rozklekotane.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Choć je pochyla do ziemi niepojęta autodestrukcja,</p>
        <p align="CENTER">Niesie z troską w ramionach gruzy wojen hormon&oacute;w,</p>
        <p align="CENTER">Oby nic nie uronić z własnej miarki atom&oacute;w.</p>
        <p align="CENTER">Jak zmyśliła figlarna, beztroska czy zła ewolucja.</p>      
        <p class="year">2015</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">Krystian w swoim nowym mieszkaniu</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Tak mi smutno! Tak mi źle!</p>
        <p align="CENTER">Siedzę w ciemni jeden sam</p>
        <p align="CENTER">I depresja gnębi mnie.</p>
        <p align="CENTER">I zmartwienie wielkie mam!</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Nad mą głową pok&oacute;j jasny,</p>
        <p align="CENTER">Co go sam umeblowałem.</p>
        <p align="CENTER">W nim weselą się mieszkańcy.</p>
        <p align="CENTER">Ja to szczęście im oddałem!</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Pod nogami ziemia pusta.</p>
        <p align="CENTER">Zimno, mrocznie, wieje cug.</p>
        <p align="CENTER">Znowu piję sam do lustra.</p>
        <p align="CENTER">Oczy smutne wwiercam w r&oacute;g.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Tylko ślepię z naprzeciwka</p>
        <p align="CENTER">Słabym blaskiem gore w ścianie.</p>
        <p align="CENTER">Nieme drwiny we mnie ciska -</p>
        <p align="CENTER">Rzuca cień na to mieszkanie.</p>
        <p class="year">2015</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">Spacer po Pradze</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Chodź. Tędy jeszcze nie szliśmy.</p>
        <p align="CENTER">Za tym zakrętem jest stara Praga:</p>
        <p align="CENTER">Szczerbate parkany i ławki z odpryskiem farby,</p>
        <p align="CENTER">Domy ceglane przystemplowane &bdquo;Legia Warszawa&rdquo;.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Dokąd idziemy?</p>
        <p align="CENTER">Przez rudą bramę i zarośnięte podw&oacute;rze,</p>
        <p align="CENTER">Po płytkach rozchybotanych, w pył.</p>
        <p align="CENTER">Chyba sami dobrze nie wiemy.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Patrz. W czarnym piasku złoty grosik.</p>
        <p align="CENTER">Weźmy go w ręce &ndash; ja orłem, ty reszką.</p>
        <p align="CENTER">On wyprowadzi szczęśliwie z zaułka.</p>
        <p align="CENTER">Zza witek wiązu przeziera cel.</p>
        <p class="year">2015</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">O dążeniu do celu</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Wszystko może zawieść:</p>
        <p align="CENTER">przemyślna dialektyka</p>
        <p align="CENTER">podjazdowa taktyka</p>
        <p align="CENTER">złotonośne miraże</p>
        <p align="CENTER">najpodlejsze szantaże</p>
        <p align="CENTER">teatralne histerie</p>
        <p align="CENTER">i wyznanie rzetelne.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">A jeszcze zostanie</p>
        <p align="CENTER">nieskończone czekanie.</p>
        <p class="year">2015</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">Super Matematyk ratuje świat</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Jak każdego dnia wieczorem</p>
        <p align="CENTER">po dniu zajęć całym w szkole</p>
        <p align="CENTER">matematyk świat chce zbawić</p>
        <p align="CENTER">i od złego was wybawić.</p>
        <p align="CENTER">Czy to dzieci na podw&oacute;rku</p>
        <p align="CENTER">skaczą po napiętym sznurku</p>
        <p align="CENTER">i na domowe zadanie</p>
        <p align="CENTER">dać im trzeba rozwiązanie.</p>
        <p align="CENTER">Czy to babcia biedna w sklepie</p>
        <p align="CENTER">przy kasjerce się telepie</p>
        <p align="CENTER">i rachunek się nie zgadza.</p>
        <p align="CENTER">Jak odliczyć on doradza.</p>
        <p align="CENTER">Znajomemu strażakowi</p>
        <p align="CENTER">statystykę darmo robi</p>
        <p align="CENTER">ile życia mu zostało</p>
        <p align="CENTER">i czy z akcji wr&oacute;ci cało.</p>
        <p align="CENTER">A kto kiedy kredyt weźmie</p>
        <p align="CENTER">wie co zwr&oacute;cić trzeba będzie.</p>
        <p align="CENTER">Raty wszystkie w mig policzy,</p>
        <p align="CENTER">bo procenty w szkole ćwiczy.</p>
        <p align="CENTER">Gdy się skończy na dziś praca</p>
        <p align="CENTER">super matematyk wraca</p>
        <p align="CENTER">do rodzinnych swych pieleszy</p>
        <p align="CENTER">by małżonce z radą spieszyć.</p>
        <p align="CENTER">Ona piecze tort dla malca,</p>
        <p align="CENTER">on liczy objętość walca</p>
        <p align="CENTER">gdzie się ciasto dobrze zmieści.</p>
        <p align="CENTER">Na gotowym wzory kreśli</p>
        <p align="CENTER">aby synek znał twierdzenia</p>
        <p align="CENTER">tak Cauchiego jak Eulera.</p>
        <p align="CENTER">Cała świętuje rodzina,</p>
        <p align="CENTER">synek tort z Eulerem wcina,</p>
        <p align="CENTER">matematyk zaś w swych myślach</p>
        <p align="CENTER">twierdzeń nowych moc obmyśla</p>
        <p align="CENTER">i tak duma pod łysiną:</p>
        <p align="CENTER">Świat beze mnie byłby zginął!</p>        
        <p class="year">2014</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">Serwis informacyjny</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Szanowni państwo!</p>
        <p align="CENTER">Jestem w samym centrum wydarzeń!</p>
        <p align="CENTER">Specjalnie dla państwa!!</p>
        <p align="CENTER">Oto najważniejsze informacje!!</p>
        <p align="CENTER">Spadł...</p>
        <p align="CENTER">Nie! Nie tyran ze stołka.</p>
        <p align="CENTER">Nie meteor z kosmosu.</p>
        <p align="CENTER">Nie dolar. Nie frank.</p>
        <p align="CENTER">Spadł...</p>
        <p align="CENTER">Śnieg!!!</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">W Raju</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Dobrześ zrobił synu m&oacute;j,</p>
        <p align="CENTER">żeś nie zerwał jabłka.</p>
        <p align="CENTER">Już na zawsze Raj jest tw&oacute;j</p>
        <p align="CENTER">w pięknie i dostatkach.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Gałąź, pusta, chwieje się;</p>
        <p align="CENTER">zięba po niej skacze.</p>
        <p align="CENTER">Śpiewa, ale milknie wnet.</p>
        <p align="CENTER">Cisza. Adam płacze.</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">W Bezdeszcz (Do P.R.)</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Nie jesteś orzeł na przestworzu,</p>
        <p align="CENTER">Ani w marmurze rżnięty posąg.</p>
        <p align="CENTER">Nie jesteś perłopławem w morzu,</p>
        <p align="CENTER">Ni śmiechem mew, gdy zgiełk podniosą.</p>
        <p align="CENTER">&nbsp;</p>
        <p align="CENTER">Ty jesteś obłok, co wysoko</p>
        <p align="CENTER">po rozciągniętym, jasnym niebie</p>
        <p align="CENTER">chodzi powoli, baczne oko</p>
        <p align="CENTER">kierując na spękaną ziemię</p>
        <p align="CENTER">i rześkim ją obmywa cieniem.</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">Filozof</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Niejeden filozof piejąc głowie</p>
        <p align="CENTER">wieńczył myślą płodną swoje życie.</p>
        <p align="CENTER">Każdy m&oacute;wi: wielki był myśliciel.</p>
        <p align="CENTER">Kto nie myśli: dziwny, chory człowiek?</p>
        <p class="year">2014</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">Oddechy</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Widzę w słabej ręce ojca,</p>
        <p align="CENTER">w zgiętym karku matki</p>
        <p align="CENTER">nieubłagane oko czasu,</p>
        <p align="CENTER">kt&oacute;re śledzi każdy m&oacute;j krok</p>
        <p align="CENTER">i nie-krok. Ono widzi,</p>
        <p align="CENTER">że za mną nie ma nic</p>
        <p align="CENTER">i przede mną nie ma nic,</p>
        <p align="CENTER">i tylko liczy moje oddechy:</p>
        <p align="CENTER">wdech, wydech, wdech, wydech...</p>
        <p class="year">2013</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">Wiosna</p>
	    <p>&nbsp; </p>
        <p align="CENTER">&bdquo;Dokąd człeku, dokąd wszyscy znowu się spieszycie?</p>
        <p align="CENTER">Czy tych cud&oacute;w wybujałej wiosny nie widzicie?&rdquo;</p>
        <p align="CENTER">&bdquo;Czas do pracy. Obowiązki. O co tobie chodzi?&rdquo;</p>
        <p align="CENTER">&bdquo;Jak to: o co? Sp&oacute;jrz nad wodę &ndash; tam się słońce rodzi.</p>
        <p align="CENTER">Wszystkie kwiaty w ciepłym blasku mienią się tak pięknie</p>
        <p align="CENTER">barw miriadem.&rdquo; &bdquo;Przestań gadać. Tramwaj mi ucieknie.&rdquo;</p>
        <p align="CENTER">&bdquo;Tramwaj też jest dzisiaj piękny. Lekki wiatr owiewa</p>
        <p align="CENTER">jego obły kadłub, stal połyska, nawet śpiewa</p>
        <p align="CENTER">mu sikorka, gdy go mija. Słyszysz?&rdquo; &bdquo;Coś ci powiem:</p>
        <p align="CENTER">Zajmij siebie czymś praktycznym. Nie ma w tej rozmowie</p>
        <p align="CENTER">nic mądrego.&rdquo; &bdquo;O! Jest cała mądrość życia, szczęścia,</p>
        <p align="CENTER">piękna...&rdquo; &bdquo;Tak? Zawracasz ludziom głowę. Zr&oacute;b mi przejścia...&rdquo;</p>
        <p class="year">2013</p>
        <p>&nbsp; </p>
        
        <p align="CENTER" class="text_title">*</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Rozpruj dociekań szew skrupulatny,</p>
        <p align="CENTER">Zostaw mnie w polu z nicią Ariadny</p>
        <p align="CENTER">I w horyzontu stronę mnie popchnij,</p>
        <p align="CENTER">Abym bez końca szła, doł&oacute;ż stopni,</p>
        <p align="CENTER">A gdy u szczytu cel sw&oacute;j osiągnę,</p>
        <p align="CENTER">By wygrać z Sfinksem tylko wyciągnę</p>
        <p align="CENTER">Rękę zachłanną ku prawdy kiści,</p>
        <p align="CENTER">Oślep mnie blaskiem wschodzącej myśli</p>
        <p align="CENTER">I zwr&oacute;conemu powoli wzroku</p>
        <p align="CENTER">Ukarz zn&oacute;w otchłań egipskich mrok&oacute;w,</p>
        <p align="CENTER">Oświetl nieboskłon znak&oacute;w milionem</p>
        <p align="CENTER">I mnie w materii zawieś znikomej.</p>
        <p align="CENTER">By raz odebrać wszelkie domysły</p>
        <p align="CENTER">I w życie popchnąć, w świat rzeczywisty.</p>
        <p class="year">2009</p>
        <p>&nbsp; </p>
                 
        <p align="CENTER" class="text_title">Poszukaj</p>
	    <p>&nbsp; </p>
        <p align="CENTER">Popatrz. Poszukaj.</p>
        <p align="CENTER">Zajrzyj pod dywan, ten z przedpokoju</p>
        <p align="CENTER">I do wazon&oacute;w, co w kuchni stoją.</p>
        <p align="CENTER">Zerknij, czy nie ma go za paprocią,</p>
        <p align="CENTER">tą, co zakwita cudownie nocą.</p>
        <p align="CENTER">Wiem! A ja w tym czasie wejdę na strych.</p>
        <p align="CENTER">Może skryło się we wspomnieniach twych?</p>
        <p align="CENTER">Może schowało się na balkonie?</p>
        <p align="CENTER">Sprawdź, czy przypadkiem w wannie nie tonie.</p>
        <p align="CENTER">Najlepiej przejrzyj wszystkie szuflady.</p>
        <p align="CENTER">Ja zajrzę pod dwie dębowe szafy.</p>
        <p align="CENTER">C&oacute;ż, tylko kurz tu znalazłam, trudno.</p>
        <p align="CENTER">Posprzątam p&oacute;źniej, strasznie tu brudno.</p>
        <p align="CENTER">Nie ma w wazonie? Czy jesteś pewna?</p>
        <p align="CENTER">Może za szafką z jasnego drewna?</p>
        <p align="CENTER">Czy się wcisnęło w kuchenne wnyki?</p>
        <p align="CENTER">Na parapecie stoją słoiki.</p>
        <p align="CENTER">Zdejmij przykrywkę, może jest w środku.</p>
        <p align="CENTER">Może śpi słodko na chińskim spodku.</p>
        <p align="CENTER">Sprawdziłaś kredens, biurko, lod&oacute;wkę?</p>
        <p align="CENTER">Wiesz, ja odkręcę tamtą żar&oacute;wkę.</p>
        <p align="CENTER">Tu także nie ma? Gdzie się podziało?</p>
        <p align="CENTER">Przecież na środku pokoju stało.</p>
        <p align="CENTER">Może uciekło cieszyć gdzie indziej</p>
        <p align="CENTER">lub szlocha cicho, tam, w ciemnej windzie.</p>
        <p align="CENTER">Popatrz. Poszukaj. Przecież być musi!</p>
        <p align="CENTER">Pom&oacute;ż poszukać. Ono się dusi!</p>
        <p align="CENTER">Razem, powoli znajdziemy szczęście,</p>
        <p align="CENTER">Bo przecież zawsze gdzieś tutaj będzie.</p>
        <p class="year">2005</p>
        <p>&nbsp; </p>
    </div>
{% endblock %}