<!DOCTYPE html>

<html>
<head>
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/script.js"></script>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>brydzenie</title>
</head>
<body>
    <div class="cookies"></div>
    <div class="orange">
        <div class="brown"></div>
        <div>
            <p class="header">brydzenie</p>
        </div>
    </div>
    <div class="links">
        <p><a href="niemieckaprasa">Co prasa niemiecka pisze o Polsce?</a></p>
        <p><a href="http://www.strona-brydzi.appspot.com">Test osobowosci!</a></p>
    </div>
    

</body>
<script>
    $('.cookies').css('height', screen.height+'px');   
</script>
</html>